$primary-margin: 10px;

#search-location {
	margin-bottom: $primary-margin;
	margin-top: $primary-margin;
}

#btn-search-location {
	border-radius: 5px;
}

#btn-get-long-lat {
	border-radius: 5px;
}

#map {
	width: 100%;
	height: 500px;
}

#address {
	margin-bottom: $primary-margin;
}

#label-longitude {
	margin-bottom: $primary-margin;
	margin-top: $primary-margin;
}

#label-latitude {
	margin-bottom: $primary-margin;
	margin-top: $primary-margin;
}

